<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" verbose="2" >

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/Group1.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="firstName" value="${firstName}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/Group2.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="firstName" value="${firstName}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/Group3.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="firstName" value="${firstName}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/CookCounty.java">
        <parameter name="url" value="${url}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/Hampden.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="firstName" value="${firstName}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/North_Bristol.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="firstName" value="${firstName}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/Plymouth.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

    <test name="C:/WebScrappingProjects/WebScrappingJson/src/main/java/com/ASC/ExecutableClasses/South_Essex.java">
        <parameter name="url" value="${url}" />
        <parameter name="value" value="${value}" />
        <parameter name="keyWord" value="${keyWord}" />
        <parameter name="firstName" value="${firstName}" />
        <parameter name="fileName" value="${fileName}" />
        <parameter name="request" value="${request}" />
        <classes/>
    </test>

</suite>